recursive-include docs/source *
recursive-include src/delastic/templates *
recursive-include tests *.py

include LICENSE
include README.rst
include CHANGELOG.md
include *.txt
include pyproject.toml
include docs/Makefile docs/make.bat

prune example
prune docs/build
global-exclude *.py[cod]
global-exclude __pycache__
